Repository Gabordlr/coding_challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --config eslint.config.mjs",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

change next version
  frontend/package.json
Due: prettier --write

..
  package-lock.json
Due: prettier --write

Fix Amplify configuration and ESLint setup for monorepo
  .lint-staged-frontend.sh
  .lintstagedrc
  amplify.yml
  eslint.config.mjs
  frontend/amplify.yml
  frontend/eslint.config.mjs
  frontend/next.config.ts
  package-lock.json
  package.json
Due: eslint --fix --config eslint.config.mjs, prettier --write

Fix ESLint errors in GraphQL client
  frontend/lib/graphql/client.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Remove unused @ts-expect-error directives
  frontend/lib/graphql/client.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Fix GraphQL type conflicts with proper DocumentNode type
  frontend/eslint.config.mjs
  frontend/lib/graphql/client.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Remove @ts-expect-error directives
  frontend/lib/graphql/client.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Fix GraphQL type conflicts with type assertions
  frontend/eslint.config.mjs
  frontend/lib/graphql/client.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Fix Amplify monorepo configuration for Next.js
  amplify.yml
  analytics.ipynb
  frontend/amplify.yml
  frontend/next.config.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Fix Amplify artifacts: deploy full app structure not just .next.
  amplify.yml
Due: none

Simplify amplify.yml for WEB_COMPUTE monorepo.
  amplify.yml
Due: none

Add amplify.yml with applications key for monorepo
  amplify.yml
Due: none

Fixing analytics
  analytics.ipynb
Due: none

Fixing make file
  Makefile
Due: none

Removing noise from codebase
  backend/__tests__/api.test.js
  backend/bin/app.ts
  backend/lib/notes-app-stack.ts
  backend/lib/resolvers/createNote/__tests__/createNote.test.js
  backend/lib/resolvers/createNote/index.js
  backend/lib/resolvers/getNotes/__tests__/getNotes.test.js
  backend/lib/resolvers/getNotes/index.js
  frontend/app/page.tsx
  frontend/components/NotesList.tsx
  frontend/components/SignUp.tsx
  frontend/hooks/useNotes.ts
  frontend/lib/amplify-config.ts
  frontend/lib/graphql/client.ts
  frontend/next.config.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write
